@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

$font_family: 'Nunito', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif;
$primary: #0abb86;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";

@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";

/*  */

::selection {
  background-color: $primary;
  color: white;
}

body {
  font-family: $font_family;
}

main {
  background: linear-gradient(90deg, #031c30 0%, #043941 100%) !important;
}

footer {
  background: linear-gradient(90deg, #11283b 0%, #12444b 100%);
}

.text-muted {
  color: white !important;
  opacity: 0.25;
}
